/vendor/
/node_modules/
.env
.env.backup
.DS_Store
Thumbs.db

/storage/logs/*.log
/storage/cache/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep

/storage/uploads/*
!/storage/uploads/.gitkeep

.phpunit.result.cache
/build
*.cache